# .NET
bin/
obj/
*.user
*.suo
.vs/
TestResults/
*.db
*.db-shm
*.db-wal

# Node
node_modules/
dist/
.angular/
.svelte-kit/
.next/

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db